.body {
    background-color: green;
}

header {
    text-align: center;
    background-image: url(https://trippystore.com/cdn/shop/products/posters-bob-marley-weed-leaf-poster-101403-29766063783989.jpg?v=1624176938);
    font-size: 250px;

}